body {
    border-width: 0px;
    border-style: none;
    font-family: Tahoma;
}
.secao {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.paragrafo {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.primeira-secao {
    background-color: #afddfb;
}
.primeira-secao img {
    width: 150px;
}
.paragrafo-links {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.paragrafo-links a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0px 10px;
}
.segunda-secao {
    margin-top: 50px;
    padding-top: 0px;
}
.destaque-negrito {
    font-weight: bold;
}
.terceira-secao h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}
.subtitulo {
    color: #1c81c0;
    margin-top: 0px;
    font-weight: normal;
}
.imagem-secao {
    width: 450px;
}
.texto-azul {
    font-weight: bold;
    color: #1d80c1;
}
.quarta-secao {
    background-color: #1d80c1;
}
.subtitulo-secao {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.paragrafo-branco {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}
.texto-amarelo {
    font-weight: bold;
    color: #fff81b;
}
.lista {
    margin: 40px auto;
    width: 135px;
}
.item {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
.sexta-secao {
    background-color: #1d80c1;
}
.paragrafo-contato {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.lista-link {
    margin: 40px auto;
    width: 210px;
}
.item-link {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}
